* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #807ECE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

:root {
    font-size: 62.5%;
}

body * {
    font-family: 'Rubik', sans-serif;
}

#app {

}

